---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
<style>{% include "css/message-box.css" %}</style>
<!-- Stop deleting -->

{{ content | safe }}
